# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
env/
.venv/
.env/

# Django environment variables
.env
.env.*

# Django migrations
*/migrations/__pycache__/
*/migrations/*.pyc

# Database
db.sqlite3-journal

# Static and media files
/static/admin/

# Django cache files
*.log
*.pot
*.mo
*.pid
*.cache
*.coverage
*.coverage.*

# Editor and IDE settings
.vscode/
.idea/
.spyderproject
.spyproject
*.sublime-project
*.sublime-workspace

# Operating system files
.DS_Store
Thumbs.db
desktop.ini

# Pipenv and Poetry
.python-version

# Coverage reports
htmlcov/
.coverage
.coverage.*