<!--
File: base.html
Name: Tanish Gurung
BU Email: tanishg@bu.edu

Description:
Provides the shared layout, navigation, and page structure
for the restaurant application.
-->

{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Terrier Bites</title>
    <link rel="stylesheet" href="{% static 'restaurant/styles.css' %}">
</head>

<body>

    <header>
        <h1>Terrier Bites</h1>

        <nav>
            <a href="{% url 'main' %}">Main</a>
            <a href="{% url 'order' %}">Order</a>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>

</html>