<!--
File: main.html
Name: Tanish Gurung
BU Email: tanishg@bu.edu

Description:
Displays the main page for the restaurant application.
-->

{% extends "restaurant/base.html" %}

{% block content %}

<h2>Welcome to Terrier Bites</h2>

<p>Location: 100 Commonwealth Ave, Boston, MA</p>

<h3>Hours</h3>

<table>
    <tr>
        <td>Monday - Friday</td>
        <td>11:00 AM - 9:00 PM</td>
    </tr>
    <tr>
        <td>Saturday</td>
        <td>12:00 PM - 10:00 PM</td>
    </tr>
    <tr>
        <td>Sunday</td>
        <td>12:00 PM - 8:00 PM</td>
    </tr>
</table>

<img src="https://media.timeout.com/images/102595070/image.jpg"
     alt="Restaurant interior"
     width="500">

{% endblock %}